# Ignore backup files created by text editors
*~

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore directories that might contain temporary or binary files
tmp/
temp/
tmp-test*/

# Ignore compiled scripts or binary files, if applicable
*.o
*.out
